name: Django CI

on: [push, pull_request]

env:
  SECRET_KEY: ${{ secrets.SECRET_KEY }}
  ANOTHER_VAR: value
  NAME: ${{ secrets.NAME }}
  USER: ${{ secrets.USER }}
  PASSWORD: ${{ secrets.PASSWORD }}
  HOST: db
  PORT: 5432
  POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install Flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Run Flake8
        run: flake8 .


  test:
      needs: lint
      runs-on: ubuntu-latest
      services:
        db:
          image: postgres
          env:
            POSTGRES_DB: db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
          ports:
            - 5432:5432
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
      steps:
        - name: Checkout Code
          uses: actions/checkout@v3

        - name: Setup Python
          uses: actions/setup-python@v4
          with:
            python-version: "3.13"

        - name: Install Dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        - name: Wait for DB to be ready
          run: |
            until nc -z "db" "5432"; do
              sleep 1
            done
          shell: bash

        - name: Migrate and Test
          run: |
            python manage.py migrate
            python manage.py test 
   

